<a href="https://colab.research.google.com/github/thangpro1242002/PTDL-with-python/blob/main/Untitled43.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import statsmodels
import statsmodels.api as sm
from statsmodels.formula.api import ols
import scipy  
from scipy import stats

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [4]:
data = pd.read_csv("Diet_R.csv")
data.head(10)

   Person  gender  Age  Height  pre.weight  Diet  weight6weeks
0      25     NaN   41     171          60     2          60.0
1      26     NaN   32     174         103     2         103.0
2       1     0.0   22     159          58     1          54.2
3       2     0.0   46     192          60     1          54.0
4       3     0.0   55     170          64     1          63.3
5       4     0.0   33     171          64     1          61.1
6       5     0.0   50     170          65     1          62.2
7       6     0.0   50     201          66     1          64.0
8       7     0.0   37     174          67     1          65.0
9       8     0.0   28     176          69     1          60.5

In [8]:

# Index 25, 26 thiếu dữ liệu -> add value

t = data.set_index('Person')
t.loc[[25, 26], 'gender'] = '1'
data_new = t.sort_index()
data_new.head(10)

       gender  Age  Height  pre.weight  Diet  weight6weeks
Person
1           0   22     159          58     1          54.2
2           0   46     192          60     1          54.0
3           0   55     170          64     1          63.3
4           0   33     171          64     1          61.1
5           0   50     170          65     1          62.2
6           0   50     201          66     1          64.0
7           0   37     174          67     1          65.0
8           0   28     176          69     1          60.5
9           0   28     165          70     1          68.1
10          0   45     165          70     1          66.9

In [9]:
# Kiểm tra đã giảm cân chưa
'''Phát biểu giả thuyết:
H0:Cân nặng trung bình của trước và sau khi giảm cân là như nhau
H1:Cân nặng trung bình của trước và sau khi giảm cân khác nhau
'''
pre_w = data_new['pre.weight']
aft_w = data_new['weight6weeks']
std1, p1 = scipy.stats.ttest_ind(pre_w, aft_w)
print(std1, p1)
print("-"*50)
alpha = 0.05
if p1 < alpha:
    print('Có đủ bằng chứng để bác bỏ giả thuyết H0. Điều này ngụ ý rằng cân nặng trước và sau khi giảm cân là có sự khác biệt.')
else:
    print('Không đủ bằng chứng để bác bỏ giả thiết H0. Điều này ngụ ý rằng cân nặng trước và sau khi giảm cân không có sự khác biệt')

2.720972750635475 0.0072584136689251115
--------------------------------------------------
Có đủ bằng chứng để bác bỏ giả thuyết H0. Điều này ngụ ý rằng cân nặng trước và sau khi giảm cân là có sự khác biệt.

# Chế độ ăn kiêng nào là tốt nhất
Xây dựng giả thiết:


$H_0: \mu_1 = \mu_2 = \mu_3$


$H_1: \mu_i \neq \mu_j$ (i $\neq$ j , i, j $\in \overline{1,3}$)

In [10]:
# Lấy slice data gồm "Diet" và "dec_weight" để phân tích 

data4 = data_new[['Diet', 'dec_weight']]
data4

KeyError: ignored